{% extends "layouts/default.twig" %}

{% block body %}

    <section page="{{ slug }}">

        <header class="half-page">

            <nav>
                <a href="{{ path_for('about') }}" title="About Joel Vardy">About</a>
                <a href="{{ path_for('projects') }}" title="Projects I've been involved in">Projects</a>
                <a href="{{ path_for('writing.list') }}" title="Joel's Ramblings">Writing</a>
            </nav>

            <hgroup>
                <h1><a href="{{ path_for('about') }}" title="About Joel Vardy">Joel Vardy</a></h1>
                <h4>Need a <span>Web Developer</span>? <a href="{{ path_for('about') }}#contact" title="Contact Joel Vardy">Get in touch</a>!</h4>
            </hgroup>

        </header>

        <section id="content">

            <h2>Not Found</h2>

            <p>You know the drill, this page can't be found.. If you were looking for something really important, contact me and I might be able to help :)</p>

            <p><strong>Did you know</strong>, the quote "Houston, we have a problem" was never really said during the Apollo 13 mission, the actual statement was "Houston, we've had a problem" however because the original quote makes it seem that the problem has already passed it was changed in the film.</p>

        </section>

    </section>

{% endblock %}
