{% extends "layouts/default.twig" %}

{% block body %}

    <section page="{{ slug }}">

        <header class="half-page">

            <nav>
                <a href="{{ path_for('about') }}" title="About Joel Vardy">About</a>
                <a href="{{ path_for('projects') }}" title="Projects I've been involved in">Projects</a>
                <a class="active" href="{{ path_for('writing.list') }}" title="Joel's Ramblings">Writing</a>
            </nav>

            <hgroup>
                <h1><a href="{{ path_for('about') }}" title="About Joel Vardy">Joel Vardy</a></h1>
                <h4>Need a <span>Web Developer</span>? <a href="{{ path_for('about') }}#contact" title="Contact Joel Vardy">Get in touch</a>!</h4>
            </hgroup>

        </header>

        <section id="content">

            {% for post in posts %}
                <a class="post" href="{{ path_for('writing.post', { 'postSlug' : post.slug }) }}" title="{{ post.title }}">
                    <h2>{{ post.title }}</h2>
                    <p>{{ post.intro }}</p>
                    <p class="posted">Posted: <strong>{{ post.posted | date("jS F Y") }}</strong></p>
                </a>
            {% endfor %}

        </section>

    </section>

{% endblock %}
